<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid">
    <header><%- include('../partials/nav'); %></header>
    <main class="container">
      <h1 class="h1 display1 text-center">CrowdEd</h1>
      <div class="container-sm">
        <h3 class="h3 display3">Skills</h3>
        <div class="row g-5">
          <% users.forEach(user => { %> <% user.skills.forEach(skill => { %>
          <div class="col-6 col-sm-4 col-lg-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= skill.title %></h5>
                <div class="card-text">
                  <p>Description: <%= skill.description %></p>
                  <p>Location: <%= user.location %></p>
                  <a href="/view/users/<%=user._id%>" class="btn btn-secondary">View User</a>
                  <a href="/view/skills/<%=skill._id%>" class="btn btn-primary">Skill Info</a>
                </div>
              </div>
            </div>
          </div>
          <% }) %> <% }) %>
        </div>
      </div>
    </main>
    <%- include('../partials/cdn'); %>
  </body>
</html>
