<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid">
    <header><%- include('../partials/nav'); %></header>
    <main class="container">
      <div class="container-sm py-3">
        <h2 class="h2"><%= skill.title %></h2>
        <h3>Info</h3>
        <ul class="list-group">
          <li class="list-group-item">id: <%= skill._id %></li>
          <li class="list-group-item">description: <%= skill.description %></li>
        </ul>
      </div>
      <div class="container-sm py-3">
        <h3>Teacher Info</h3>
        <ul class="list-group">
          <li class="list-group-item">
            Name: <%= skill.teacherName %>
            <a href="/view/users/<%=skill.userID%>" class="btn btn-secondary">View User</a>
          </li>
        </ul>
      </div>
    </main>
    <%- include('../partials/cdn'); %>
  </body>
</html>
