<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid">
    <header><%- include('../partials/nav'); %></header>
    <main class="container">
      <div class="container-sm">
        <%- include('../partials/registerForm') %>
        <h3 class="h3 display3">Users</h3>
        <div class="row g-5">
          <% users.forEach(user => { %>
          <div class="col-6 col-sm-4 col-lg-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= user.name.toUpperCase() %></h5>
                <div class="card-text">
                  <p>Skills:</p>
                  <ol>
                    <% user.skills?.forEach(skill => { %>
                    <li><%= skill.title %></li>
                    <% }) %>
                  </ol>
                </div>
                <p class="card-text">Post Code: <%= user.location %></p>
                <a href="/view/users/<%=user._id%>" class="btn btn-primary">Go To User</a>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <%- include('../partials/cdn'); %>
  </body>
</html>
